.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.search-input {
    width: 300px;
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.search-button {
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    background-color: #282c34;
    color: white;
    cursor: pointer;
}
